[submodule "data"]
	path = data
	url = https://github.com/psychoinformatics-de/studyforrest-data-structural.git
[submodule "derivatives"]
	path = derivatives
	url = ./derivatives
	datalad-id = e256a4f5-3460-4f76-9f2a-c864aee3ebf9
[submodule "code"]
	path = code
	url = ./code
	datalad-id = 7052de73-ac4d-458a-90d0-ad03349662a4
